/* ------------------- Home Maps Container ------------------- */
.map {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 60px 60px 0 60px;
    color: #6e7e3c;
}

/* .main-header-home {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
    margin-top: 45px;
} */
