/* ------------------- Create listings Container ------------------- */
.sub-create-listing-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px 60px 0 60px;
}

#home-create-listing-button {
    border: none;
    border-radius: 25px;
    margin-top: 5px;
    padding: 15px;
    width: 100%;
    max-width: 850px;
    font-size: 15px;
    font-weight: bold;
    background-color: #f8af5b;
    color: #fefae0;
}

#home-create-listing-button:hover {
    cursor: pointer;
    background-color: #e7a252;
}


/* ------------------- Create listings form ------------------- */
.create-listing-container  {
    width: 100%;
    padding: 20px 25px 25px 25px;
    border-radius: 20px;
    background-color: #fefae0;
}

.create-listing-form {
    width: 100%;
}

::placeholder {
    font-size: 12px;
    color: rgb(223, 195, 153);
}



/* ------------------- Create listings form ------------------- */
.errors {
    color: red;
    font-size: 12px;
}

.address-line-one, .address-line-two, .address-line-three {
    display: flex;
}

.listing-labels {
    display: flex;
    flex-direction: column;
    width: 100%;
    /* padding: 5px; */
    color: #BC6C25;
    font-size: 12px;
}

.listing-inputs {
    /* width: 100%; */
    border: none;
    border-radius: 10px;
    font-size: 12px;
    padding: 7px;
    margin: 5px 0;
    background-color: rgb(255, 242, 190);
    color: #BC6C25;
}

#listing-label-city, #listing-label-country, #listing-label-longitude {
    margin-left: 5px;
}

#create-listing-button {
    border: none;
    border-radius: 25px;
    margin-top: 5px;
    padding: 15px;
    width: 100%;
    max-width: 850px;
    font-size: 12px;
    background-color: #f8af5b;
    color: #ac6425;
}

#create-listing-button:hover {
    cursor: pointer;
    background-color: #e7a252;
}

#cancel-create-button {
    border: none;
    border-radius: 25px;
    margin-top: 5px;
    padding: 15px;
    width: 100%;
    max-width: 850px;
    font-size: 12px;
    background-color: #f8805b;
    color: #ac6425;
}

#cancel-create-button:hover {
    cursor: pointer;
    background-color: #d46d4d;
}
