/* ------------------- All Listings Container + Header ------------------- */
.all-listings-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 60px 60px 0 60px;
}

.listings-header {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 850px;
    margin-bottom: 20px;
    padding: 15px 0px;
    border-radius: 35px;
    font-size: 15px;
    font-weight: bold;
    background-color: #6e7e3c;
    color: #fefae0;
}

/* ------------------- All Listings Container ------------------- */
.listing-container-container {
    max-width: 850px;
}

.listing-container {
    margin-bottom: 15px;
    padding: 30px;
    border-radius: 15px;
    border: 3px solid #faca94;
}

.listing-name {
    margin-bottom: 7px;
    font-size: 20px;
    color: #6e7e3c;
}

.listing-price {
    margin-bottom: 7px;
    font-size: 18px;
    color: #2A9D8F;

}

.listing-full-address {
    margin-bottom: 7px;
    font-size: 15px;
    color: #E76F51;
}

.listing-coordinates {
    margin-bottom: 7px;
    font-size: 11px;
    color: #BC6C25;

}

.listing-description {
    line-height: 1.4;
    font-size: 15px;
    color: #BC6C25;
}
