/* ------------------- Footer Container ------------------- */
.footer-container {
    display: flex;
    flex-direction: column;
}


/* ------------------- Footer Container: Safety ------------------- */
.footer-container-safety {
    background-color: black;
    color: purple;
}


/* ------------------- Footer Container: About ------------------- */
