/* ------------------- Footer Container ------------------- */
.footer-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 60px 60px 0 60px;
    color: #6b7a39;
    background-color: #f3efdd;
}


/* ------------------- Footer Container: Standards ------------------- */
.footer-container-standards {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    max-width: 1050px;
    background-color: transparent;
}

.footer-header {
    padding-left: 10px;
    font-size: 23px;
    font-weight: bold;
    background-color: transparent;
}

.footer-tiles {
    background-color: transparent;
}

#footer-tile-one {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 15px;
    padding: 20px;
    border-radius: 15px;
    background-color: #d2e692;
}

#footer-tile-one span {
    background-color: transparent;
}

#footer-tile-one i {
    padding: 0 50px 0 15px;
    font-size: 40px;
    text-align: center;
    background-color: transparent;
}

#footer-tile-two {
    display: flex;
    background-color: transparent;
}

#footer-tile-two-1, #footer-tile-two-2 {
    width: 50%;
    margin: 20px 0;
    padding: 20px;
    border-radius: 15px;
    background-color: #d2e692;
}

#footer-tile-one div,
#footer-tile-two-1 > div,
#footer-tile-two-2 > div {
    padding-bottom: 15px;
    font-size: 17px;
    font-weight: bold;
    background-color: transparent;
}

#footer-tile-one p,
#footer-tile-two-1 > p,
#footer-tile-two-2 > p {
    background-color: transparent;
    margin: 0;
    line-height: 1.5;
    font-size: 14px;
}

#footer-tile-two-1 {
    margin-right: 10px;
}

#footer-tile-two-2 {
    margin-left: 10px;
}


/* ------------------- Footer Container: About ------------------- */
.footer-container-about {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px 50px 30px 50px;
    background-color: transparent;
}

.footer-container-about > a {
    text-decoration: none;
    color: #f59323;
    font-size: 14px;
}

#footer-logo {
    width: 40px;
    height: auto;
    background-color: transparent;
}

#footer-container-about-1 {
    padding-right: 15px;
    background-color: transparent;
}

#footer-container-about-2 {
    padding-left: 15px;
    background-color: transparent;
}

#footer-container-about-1:hover,
#footer-container-about-2:hover {
    color: #e67b18;
}
