/* ------------------- Navigation bar ------------------- */
.navlink-container {
    position: relative;
    /* z-index: 1; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    top: 0;
    margin: 0;
    padding: 25px 70px;
    border-bottom: 1px solid #e2decd;
    box-shadow: 0 5px 7px -7px #b8b4a2;
}

.logo {
    display: flex;
    align-items: center;
    background-color: transparent;
}

#logo-image {
    height: 50px;
    width: auto;
    background-color: transparent;
}

#search-bar {
    padding: 9px 20px;
    font-size: 13px;
    color: #faf8eb;
    background-color:#f0da92;
    border-radius: 19px;
}

#navlink-home {
    list-style-type: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-color: transparent;
}

#navlink-home a {
    text-decoration: none;
    padding: 5px 0;
    margin: 0 15px;
    font-weight: bold;
    background-color: transparent;
    color: #ec9939;
}

#navlink-home a:hover {
    border-bottom: 2px solid #6e7e3c;
}


/* ------------------- Profile button ------------------- */
#profile-button {
    border: none;
    padding: 0;
    font-size: 30px;
    color: #ec9939;
    background-color: transparent;
}

#profile-button i {
    background-color: transparent;
}

#profile-button:hover {
    cursor: pointer;
}


/* ------------------- Profile dropdown ------------------- */
.dropdown-container {
    position: absolute;
    height: 224px;
    top: 100px;
    right: 0px;
    border-radius: 0 0 15px 15px;
    background-color:#f0da92;
}

.profile-dropdown {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px;
    margin: 40px;
    list-style-type: none;
    background-color: transparent;
}

.profile-dropdown > li {
    margin: 10px 0;
    color: rgb(102, 70, 10);
    background-color: transparent;
}

.profile-dropdown > li > button {
    cursor: pointer;
    border: none;
    border-radius: 10px;
    padding: 7px 15px;
    width: 100%;
    background-color: #fceec3;
    color: rgb(102, 70, 10);
    font-size: 12px;
}
