/* ------------------- Site-wide styles ------------------- */

html {
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
}

body {
    margin: 0;
}

* {
    background-color: #fefae0;
    font-family: Calibre, Helvetica, Arial, sans-serif;
    /* font-family: Verdana,Geneva,sans-serif; */
}
