/* ------------------- Site-wide styles ------------------- */
html {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

body {
    margin: 0;
}

* {
    font-family: Calibre, Helvetica, Arial, sans-serif;
}

::-webkit-scrollbar {
    width: 0;
}

.app {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #faf8eb;
}
