/* ------------------- Login Container ------------------- */
.login-demo-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

#login-demo-button {
    border: none;
    border-radius: 10px;
    margin: 5px;
    padding: 8px;
    width: 100%;
    background-color: #f8af5b;
    color: #ac6425;
    font-size: 12px;
}

#login-demo-button:hover {
    cursor: pointer;
    background-color: #e7a252;
}
