/* ------------------- Splash Page ------------------- */
.splash-container {
    display: flex;
    flex-direction: column;
    padding: 50px;
}

/* ------------------- Splash Main Container ------------------- */
img {
    width: 100%;
    height: auto;
    max-width: 850px;
    border-radius: 25px;
}

.main-header,
.main-container,
.sub-container-one,
.sub-container-two,
.sub-container-three,
.sub-container-four {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
    margin: 15px 0;
}

#main-header-title {
    text-align: center;
    font-size: 50px;
    font-weight: bold;
    color: #BC6C25;
}

#main-header-text {
    text-align: center;
    font-size: 20px;
    color: #BC6C25;
    margin: 10px 70px 0 70px;
}
