/* ------------------- Edit listings Container ------------------- */
.sub-edit-listing-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 60px 60px 0 60px;
}


/* ------------------- Edit listings form ------------------- */
.edit-listing-container  {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 425px;
    padding: 25px;
    border-radius: 20px;
    background-color: #fefae0;
}

.edit-listing-form {
    width: 100%;
}


/* ------------------- Edit listings form ------------------- */
.edit-listing-labels {
    display: flex;
    flex-direction: column;
    width: 100%;
    color: #BC6C25;
    font-size: 12px;
}

.edit-listing-inputs {
    border: none;
    border-radius: 10px;
    font-size: 12px;
    padding: 7px;
    margin: 5px 0;
    background-color: rgb(255, 242, 190);
    color: #BC6C25;
}

#edit-listing-inputs-description {
    width: 411px;
    max-width: 411px;
    max-height: 186px;
}

#edit-listing-label-city, #edit-listing-label-country, #edit-listing-label-longitude {
    margin-left: 5px;
}

#edit-listing-confirm-button {
    border: none;
    border-radius: 25px;
    margin-top: 5px;
    padding: 15px;
    width: 100%;
    max-width: 850px;
    font-size: 11px;
    background-color: #f8af5b;
    color: #ac6425;
}

#edit-listing-confirm-button:hover {
    cursor: pointer;
    background-color: #e7a252;
}

#cancel-edit-button {
    border: none;
    border-radius: 25px;
    margin-top: 5px;
    padding: 15px;
    width: 100%;
    max-width: 850px;
    font-size: 11px;
    background-color: #f8805b;
    color: #ac6425;
}

#cancel-edit-button:hover {
    cursor: pointer;
    background-color: #d46d4d;
}
