/* ------------------- Navigation bar ------------------- */
.navlink-container {
    z-index: 1;
    top: 0;
    margin: 0;
    padding: 35px 60px;
    position: sticky;
    background-color: #faedc3;
}

#navlink-home {
    list-style-type: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-color: transparent;
}

#navlink-home a {
    text-decoration: none;
    padding: 5px 0;
    margin: 0 15px;
    font-weight: bold;
    background-color: transparent;
    color: #ec9939;
}

#navlink-home a:hover {
    border-bottom: 2px solid #6e7e3c;
}


/* ------------------- Profile button ------------------- */
#profile-button {
    border: none;
    padding: 0 5px;
    font-size: 30px;
    color: #ec9939;
    background-color: transparent;
}

#profile-button i {
    background-color: transparent;
}

#profile-button:hover {
    cursor: pointer;
}

.profile-dropdown {
    list-style-type: none;
}
