/* ------------------- Navigation bar ------------------- */
.navlink-container {
    padding: 10px;
}

#navlink-home {
    list-style-type: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

#navlink-home a {
    text-decoration: none;
    padding: 0 5px;
    color: rgb(240, 157, 4);
}


/* ------------------- Profile button ------------------- */
#profile-button {
    border: none;
    padding: 0 5px;
    font-size: 30px;
    color: rgb(240, 157, 4);
}

#profile-button:hover {
    cursor: pointer;
}

.profile-dropdown {
    list-style-type: none;
}
